@font-face {
  font-family: AnveshanFont;
  src: url(Varela-Regular.ttf);
}

body {
	overflow: auto;
	margin: 0;
	padding: 0;
}
.content_box_wrapper{
	width: 100%;
	height: auto;
	margin: 0 auto;
	min-width: 600px;
	font-family: AnveshanFont;
}
.buyer_intro_wrapper {
	width: 70%;
	height: auto;
	margin: 0 auto !important;
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: url('Images/webpage-section-01-1.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 90% 100%;
	position: relative;
}
.buyer_intro_wrapper::after {
	content: "";
	clear: both;
	display: table;
}
.buyer_intro_text_wrapper {
	width: 60%;
	height: auto;
	float: left;
	text-align: left;
}
.anveshan_logo_div_wrapper {
	position: absolute;
	bottom: -50px;
	left: 100px;
	display: inline-block;
	height: auto;
}
@media only screen and (max-width: 1000px) {
	.buyer_intro_wrapper {
		width: 100%;
		height: 1000px;
		background-size: 100% 100%;
	}
	.anveshan_logo_div_wrapper {
		bottom: -10px;
	}	
}
.anveshan_logo_img_wrapper {
	width: 100px;
	height: auto;
	margin: 0 auto;
}
.anveshan_logo_img {
	width: 100%;
	height: 100%;
}
.anveshan_logo_text_p {
	text-align: center;
	margin: 0;
	padding: 0;
	color: #3D3D3D;
}
.buyer_intro_text {
	width: 70%;
	height: auto;
	margin: 0 auto;
	color: #FFFFFF;
}
.buyer_intro_text_text_wrapper {
	margin: 0 auto;
}
.buyer_intro_text_p {
	margin: 0;
}
.buyer_intro_text_div {
	margin: 30px auto;
}
#buyer_intro_text_greeting_name {
	font-size: 30px;
}
.buyer_intro_text_item_div {
	font-size: 20px;
}
.buyer_intro_text_date_div {
	font-size: 20px;
}
.buyer_intro_text_delivery_guy_div {
	font-size: 18px;
}
.buyer_intro_text_p_val {
	font-style: bold;
}
@media only screen and (max-width: 600px) {
	/*.buyer_intro_wrapper {
		display: block;
	}
	.buyer_intro_text_wrapper {
		width: 100%;
		height: auto;
		text-align: center;
	}
	.buyer_intro_text {
		width: 100%;
	}*/
}
.buyer_intro_item {
	width: 40%;
	height: auto;
	float: right;
	display: flex;
	justify-content: center;
	align-items: center;
}
@media only screen and (max-width: 600px) {
	.buyer_intro_item {
		/*width: 100%;*/
	}	
}
.buyer_intro_item_img {
	width: 100%;
	height: auto;
	max-width: 210px;
	max-height: 600px;
}
.welcome_sec_content_wrapper {
	width: 70%;
	height: auto;
	padding: 20px;
	margin: 120px auto;
	text-align: center;
}
.welcome_sec_heading {
	font-size: 60px;
	color: #4D4D4D;
}
.welcome_sec_text {
	font-size: 16px;
	color: #4D4D4D;
	text-align: justify;
}
@media only screen and (max-width: 930px) {
	.welcome_sec_heading {
		font-size: 40px;
	}
	.welcome_sec_text {
		font-size: 15px;
	}
}
@media only screen and (max-width: 650px) {
	.welcome_sec_heading {
		font-size: 30px;
	}
	.welcome_sec_text {
		font-size: 14px;
	}
}
.discover_stages_wrapper {
	width: 70%;
	height: auto;
	margin: 20px auto;
	text-align: center;
}
.discover_stages_text {
	font-size: 26px;
	color: #4D4D4D;
}
@media only screen and (max-width: 810px) {
	.discover_stages_text {
		font-size: 18px;
	}	
}
.discover_stages_stages {
	width: auto;
	height: auto;
	margin: 10px auto;
}
.discover_stages_stages_stage {
	margin: 2px 10px;
}



.processInfo_content_box_wrapper {
	margin: 0 auto;
	padding: 40px 0;
	overflow: auto;
	width: 70%;
	min-width: 600px;
	background-image: url('Images/webpage-section-03-1.png');
	background-size: 100% 46%;
	background-repeat: no-repeat;
	background-position: 50% 72%;
}
@media only screen and (max-width: 1000px) {
	.processInfo_content_box_wrapper {
		width: 100%;
	}
}
.processInfo_content_box {
	margin: 0 auto;
}
.processInfo_desc_box {
	margin: 10px auto;
}
.processInfo_desc_box_image_div {
	text-align: center;
	width: 400px;
	height: auto;
	margin: 0 auto;
	padding: 10px;
}
.processInfo_desc_box_image {
	width: 100%;
	height: 100%;
}
.processInfo_desc_box_name {
	text-align: center;
	font-weight: bold;
	padding: 10px;
	font-size: 20px;
}
.processInfo_desc_box_process_desc_wrapper {
	width: 50%;
	min-width: 400px;
	margin: 0 auto;
	padding: 10px;
}
.processInfo_desc_box_process_desc {
	text-align: center;
}
.processInfo_desc_box_aspiration {
	width: 50%;
	min-width: 300px;
	text-align: center;
	margin: 50px auto;
	font-size: 15px;
}
.processInfo_desc_box_location_image_div {
	width: 60%;
	min-width: 400px;
	height: auto;
	margin: 0px auto;
	text-align: center;
}
.processInfo_desc_box_location_image {
	width: 100%;
	height: 100%;
}
.processInfo_intermediate_process {
	/*margin: 80px auto;*/
	margin: 0 auto;
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.processInfo_intermediate_process::after {
	content: "";
	clear: both;
	display: table;
}
.processInfo_intermediate_process_image_wrapper {
	width: 50%;
	float: left;
	height: auto;
}
.processInfo_intermediate_process_image_img {
	width: 100%;
	height: 100%;
}
.processInfo_intermediate_process_text_wrapper {
	width: 50%;
	float: right;
	height: auto;
	text-align: center;
}
.processInfo_intermediate_process_text {
	font-weight: bold;
}
.processInfo_knowMore_btn_div {
	margin: 60px auto;
	text-align: center;
}
.processInfo_knowMore_btn {
	padding: 10px 60px !important;
	outline: none;
}