body {
	margin: 0;
	padding: 0;
	background-color: #F1F1F4;
}
.processInfo_content_box_wrapper {
	margin: 0 auto;
	padding: 0px;
	overflow: auto;
	width: 50%;
	min-width: 600px;
}
.processInfo_content_box {
	margin: 0 auto;
}
.processInfo_desc_box {
	margin: 10px auto;
}
.processInfo_desc_box_image_div {
	text-align: center;
	width: 150px;
	height: auto;
	margin: 0 auto;
	padding: 10px;
}
.processInfo_desc_box_image {
	width: 100%;
	height: 100%;
}
.processInfo_desc_box_name {
	text-align: center;
	font-weight: bold;
	padding: 10px;
	font-size: 20px;
}
.processInfo_desc_box_process_desc_wrapper {
	width: 50%;
	min-width: 400px;
	margin: 0 auto;
	padding: 10px;
}
.processInfo_desc_box_process_desc {
	text-align: center;
}
.processInfo_desc_box_aspiration {
	width: 50%;
	min-width: 300px;
	text-align: center;
	margin: 50px auto;
	font-size: 15px;
}
.processInfo_desc_box_location_image_div {
	width: 50%;
	min-width: 400px;
	height: auto;
	margin: 0px auto;
	text-align: center;
}
.processInfo_desc_box_location_image {
	width: 100%;
	height: 100%;
}
.processInfo_intermediate_process {
	margin: 150px auto;
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.processInfo_intermediate_process::after {
	content: "";
	clear: both;
	display: table;
}
.processInfo_intermediate_process_image_wrapper {
	width: 50%;
	float: left;
	height: auto;
}
.processInfo_intermediate_process_image_img {
	width: 100%;
	height: 100%;
}
.processInfo_intermediate_process_text_wrapper {
	width: 50%;
	float: right;
	height: auto;
	text-align: center;
}
.processInfo_intermediate_process_text {
	font-weight: bold;
}
.processInfo_knowMore_btn_div {
	margin: 60px auto;
	text-align: center;
}
.processInfo_knowMore_btn {
	padding: 15px 60px;
}